//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1750;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #333333;
	font-size: 16px;
	line-height: 150%;
	// background-color: #333;
	font-family: "Roboto", Helvetica, sans-serif;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// &._loaded {
	// }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "datepicker";
@import "lightgallery";
// @import "tippy";
// @import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	// flex: 1 1 auto;
	// padding: 0 20px;
	// display: flex;
	// .page__side
	&__side {
		flex: 0 0 300px;
		padding: 0px 20px 0px 0px;
	}
	// .page__item
	// &__item {
	// }
	// .page__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
	}
}
//===================================================================================================================================

.tabs-block {
	margin: 0px 0px 50px 0px;
	// .tabs-block__nav
	&__nav {
		display: flex;
		margin: 0px -2px;
	}
	// .tabs-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 2px;
		background-color: #7a956b;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&._active {
			background-color: #77608d;
		}
	}
	// .tabs-block__body
	&__body {
		padding: 20px 0px 0px 0px;
	}
	// .tabs-block__block
	// &__block {
	// }
}
//========================================================================================================================================================

.spollers-block {
	margin: 0px 0px 50px 0px;
	// .spollers-block__item
	&__item {
		margin: 0px 0px 20px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .spollers-block__title
	&__title {
		background-color: #794f45;
		cursor: pointer;
		padding: 20px 70px 20px 20px;
		position: relative;
		&::before {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(-45deg);
			position: absolute;
			right: 15px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(45deg);
			position: absolute;
			right: 29px;
			top: 50%;
		}
		&._active {
			&::before {
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-45deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		padding: 20px 0px 0px 0px;
	}
}
//========================================================================================================================================================

.form {
	margin: 0px 0px 50px 0px;
	// .form__line
	&__line {
		margin: 0px 0px 20px 0px;
	}
	// .form__label
	&__label {
		display: inline-block;
		margin: 0px 0px 15px 0px;
	}
}

//========================================================================================================================================================
.slider {
	margin: 0px 0px 50px 0px;
}
//========================================================================================================================================================
.text {
	transform: translate(0px, 100px);
	opacity: 0;
	transition: all 0.3s ease 0s;
	margin: 0px 0px 50px 0px;
	a {
		color: red;
	}
	&._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

//========================================================================================================================================================

.price {
	// .price__range
	// &__range {
	// }
	// .price__inputs
	&__inputs {
		display: flex;
		input {
			margin: 0px 10px 0px 0px;
		}
	}
}

//========================================================================================================================================================
.gallery-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
	// .gallery-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 0px 20px 0px;
		padding: 0px 10px;
		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.links {
	a {
		display: inline-block;
		position: relative;
		padding: 10px;
		font-size: 14px;
		color: #dadada;
		transition: all 0.3s ease 0s;
	}
	a:before {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: -1px;
		border: 2px solid #31aae2;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	a:hover {
		color: #31aae2;
	}
	a:hover:before {
		opacity: 1;
		visibility: visible;
	}
}


//</ОСНОВНОЙ БЛОК>====================================================================================================

.about {
	padding: 126px 40px 114px;
	transition: all 0.6s ease 0s;
	transform: translate(0px,100px);
	opacity: 0;
	&._active {
		transform: translate(0px,0px);
		opacity: 1;
	}
	@media (max-width:$md2+px){
		padding: 90px 40px 60px;
	}
	&__body {
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}
	&__title {
		flex: 0 0 540px;
		min-width: 540px;
		padding-left: 75px;
		text-align: center;
		@media (max-width: $md2+px) {
			position: relative;
			padding-left: 0;
			min-width: 0;
			flex: 1 1 auto;
			
		}
		h2 {
			font-family: Yesteryear;
			font-size: 89.8px;
			line-height: 89.8px;
			font-weight: 400;
			letter-spacing: 0.06em;
			color: #333333;
		}
	}
	&__title:after {
		content: '';
		display: block;
		position: absolute;
		left: 540px;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: #333333;
		@media (max-width: $md2+px) {
			left: 0;
			top: 200px;
			height: 1px;
			width: 100%;
			
		}
	}
	&__links {
		margin-top: 35px;
		
	}
	&__text {
		padding: 33px 0px 66px 0px;
		max-width: 940px;
		margin-left: 70px;
		flex: 1 1 auto;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		letter-spacing: 0.06em;
		color: #333333;
		@media (max-width: $md2+px) {
			margin-top: 80px;
			margin-left: 0;
			text-align: center;
			padding: 0px 0px 66px 0px;
		}

	}
}

//====================================================================================================

.galery {
	width: 100%;
	display: flex;
	@media (max-width:$md2+px){
		flex-wrap: wrap;
	}
	&__block-left {
		width: 40%;
		@media (max-width:$md2+px){
			width: 100%;
		}
	}
	&__row {
		display: flex;
		position: relative;
	}

	&__item {
		position: relative;
		width: 100%;
		height: auto;
		padding: 81% 0px 0px 0px;
		@media (max-width:$md2+px){
			padding: 58% 0px 0px 0px;
		}	
	}
	&__item:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgb(0, 0, 0);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&__item:hover:before {
			visibility: visible;
			opacity: 0.4;
		}
	}
	&__item-half {
		width: 50%;
		padding: 40.5% 0px 0px 0px;
	}
		
	
	&__block-center {
		width: 40%;
		@media (max-width:$md2+px){
			width: 100%;
		}
	}
	&__block-center &__row:nth-child(2) &__item {
		padding: 40.5% 0px 0px 0px;
	}
	&__block-right {
		width: 20%;
		@media (max-width:$md2+px){
			width: 100%;
		}
	}
	&__block-right &__item {
		width: 100%;
		padding: 81% 0px 0px 0px;
		@media (max-width:$md2+px){
			padding: 58% 0px 0px 0px;
		}
	}
	&__block-right &__row:last-child &__item {
		padding: 162% 0px 0px 0px;
		@media (max-width:$md2+px){
			padding: 58% 0px 0px 0px;
		}
	}	
}

//====================================================================================================

.quote {
	text-align: center;
	padding: 100px 20px;
	transition: all 0.6s ease 0s;
	transform: translate(0px,100px);
	opacity: 0;
	&._active {
		transform: translate(0px,0px);
		opacity: 1;
	}
	h2 {
		margin: 0 auto;
		font-size: 32px;
		line-height: 52px;
		font-weight: 400;
		text-transform: uppercase;
		color: #333333;
		max-width: 1110px;
		@media (max-width:$md2+px){
			font-size: 24px;
			line-height: 40px;
		}
		@media (max-width:$md3+px){
			 font-size: 18px;
			 line-height: 32px; 
		}
	}
	img {
		margin-top: 40px;
	}
}

//====================================================================================================

.video {
	padding-bottom: 22%;
	height: 438px;
	position: relative;
	a {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		margin-left: -44.5px;
		margin-top: -44.5px;
		transition: all 0.3s ease 0s;;
		img {
			width: 89px;
			height: 89px;
		}
	}
	@media (any-hover: hover) {
		a:hover {
			opacity: 0.75;
			img {
				border-radius: 50%;
				box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

//====================================================================================================

.credo {
	padding: 87px 20px 122px;
	text-align: center;
	transition: all 0.6s ease 0s;
	transform: translate(0px,100px);
	opacity: 0;
	&._active {
		transform: translate(0px,0px);
		opacity: 1;
	}
	h2 {
		margin: 0 auto;
		max-width: 770px;
		font-size: 32px;
		line-height: 52px;
		font-weight: 400;
		color: #333333;
		@media (max-width:$md2+px){
			font-size: 24px;
			line-height: 40px;
		}
		@media (max-width:$md3+px){
			 font-size: 18px;
			 line-height: 32px; 
		}
	}
}

//====================================================================================================

.authors {
	width: 100%;
	display: flex;
	@media (max-width:$md2+px) {
		flex-wrap: wrap;
	}
	a {
		display: block;
		width: 25%;
		padding-top: 15.6%;
		@media (max-width:$md2+px){
			width: 50%;
			padding-top: 31.2%;
		}
	}
}